<div class="grid-container">
  <h1 class="mat-h1">Projects</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]=2 [rowspan]=2>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            SimpleTimer
            <a href="https://main.d23shy29m415ff.amplifyapp.com" target="_blank" mat-icon-button class="more-button">
              <mat-icon>open_in_new</mat-icon>
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content full-height">
          <div>Card Content Here</div>
          <iframe class="timer-frame" src="https://main.d23shy29m415ff.amplifyapp.com"></iframe>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  </div>
