<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Jonathon Clifford</span>
    <span class="spacer"></span>
    <a mat-raised-button href="mailto:jono.cliff@gmail.com?subject=Enquiry%20to%20Jonathon%20Clifford" target="_blank">
      <mat-icon>email</mat-icon>
    </a>
    <a mat-raised-button href="https://www.linkedin.com/in/jonathon-clifford/" target="_blank">LinkedIn</a>
  </mat-toolbar-row>
</mat-toolbar>
<header color="primary">
  <h1 class="title-header">Jonathon Clifford</h1>
  <h2>Full Stack Web Developer</h2>
  <p>Spring Boot Java</p>
  <p>Angular</p>
</header>
<app-schematic-dashboard></app-schematic-dashboard>
<router-outlet></router-outlet>